.danger-text {
  color: red;
}

.flash-message {
  background-color: #ab73d9;
  color: white;
  padding: 5px 40px;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
  font-size: 22px;
}